<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
      <typeAlias alias="IProcessData" type="BL.ExcelProcessor.IProcessData, BL.ExcelProcessor" />
      <typeAlias alias="FeErratasProcessData" type="BL.ExcelProcessor.ProcessesData.FeErratasProcessData, BL.ExcelProcessor" />
    </typeAliases>
    <containers>
      <container name="AggregateRootsRepositories">
        <types>
          <type type="IProcessData" mapTo="FeErratasProcessData" />
        </types>
      </container>
    </containers>
</unity>