<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AVEB_ESEntities" connectionString="metadata=res://*/LAVEB_DDBB.csdl|res://*/LAVEB_DDBB.ssdl|res://*/LAVEB_DDBB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=**;initial catalog=**;persist security info=True;user id=**;password=**;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>