<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"  allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <appSettings>
    <add key="UrlSmartBridge" value="
    
  </appSettings>
  <connectionStrings>
    <add name="AVEB_ESEntities" connectionString="metadata=res://*/LAVEB_DDBB.csdl|res://*/LAVEB_DDBB.ssdl|res://*/LAVEB_DDBB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=***;initial catalog=***;persist security info=True;user id=**;password=**;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <unity>
    <typeAliases>
      <typeAlias alias="IExcelUtils" type="BL.ExcelProcessor.IExcelUtils, BL.ExcelProcessor" />
      <typeAlias alias="FeErratasUtils" type="BL.ExcelProcessor.FeErratas.FeErratasUtils, BL.ExcelProcessor" />
      <typeAlias alias="OrderStatusUtils" type="BL.ExcelProcessor.OrderStatus.OrderStatusUtils, BL.ExcelProcessor" />
      <typeAlias alias="SBCExperiencesUtils" type="BL.ExcelProcessor.SmartBoxClubExperiences.SBCExperiencesUtils, BL.ExcelProcessor" />
    </typeAliases>
    <containers>
      <container name="FeErratas">
        <types>
          <type type="IExcelUtils" mapTo="FeErratasUtils" />
        </types>
      </container>
      <container name="OrderStatus">
        <types>
          <type type="IExcelUtils" mapTo="OrderStatusUtils" />
        </types>
      </container>
      <container name="SmartBoxClub">
        <types>
          <type type="IExcelUtils" mapTo="SBCExperiencesUtils" />
        </types>
      </container>
    </containers>
  </unity>
  <log4net>
    <!-- Level 1 -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:/mylogfile.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--<file value="c:/Logs/FE_ERRATAS/PRO/Error/" />-->
      <file value="c:/Logs/FE_ERRATAS/TEST/Error/" />
      <appendToFile value="true" />
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="100" />
      <datePattern value="yyyy-MM-dd'.log'"/>
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="false" />
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline%exception" />
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--<file value="c:/Logs/FE_ERRATAS/PRO/Info/" />-->
      <file value="c:/Logs/FE_ERRATAS/TEST/Info/" />
      <appendToFile value="true" />
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="100" />
      <datePattern value="yyyy-MM-dd'.log'"/>
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="false" />
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="FatalFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--<file value="c:/Logs/FE_ERRATAS/PRO/Fatal/" />-->
      <file value="c:/Logs/FE_ERRATAS/TEST/Fatal/" />
      <appendToFile value="true" />
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="100" />
      <datePattern value="yyyy-MM-dd'.log'"/>
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="false" />
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="FATAL"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="InfoFileAppender"/>
      <appender-ref ref="ErrorFileAppender"/>
      <appender-ref ref="FatalFileAppender"/>
    </root>
  </log4net>
</configuration>